{% load static %}
<footer>
    <div class="container">
        <div class="row rtl-row">
            <div class="col-lg-5 col-md-12 col-sm-12 rtl-text">
                <img height="35" data-src="{% static 'img/logo-dark.svg' %}" class="logo lozad" alt="">
                <div class="text">گروه دیجی کد یک شرکت فناوری است که در سال ۱۴۰۱ با هدف رفع نیاز های کسب و کار ها و افراد جویای کار تاسیس شده است. دیجی کد با ارائه خدماتی مانند طراحی وب‌سایت، برنامه‌نویسی تحت وب، پشتیبانی فنی و چندین خدمت دیگر، به کسب و کارها کمک می‌کند تا در فضای آنلاین موفق شوند.</div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 rtl-text">
                <h5>لینک های مفید</h5>
                <ul class="footer-nav">
                    <li><a href="/works"><i class="fa fa-angle-left"></i><span>کار ما</span></a></li>
                    <li><a href="/about"><i class="fa fa-angle-left"></i><span>درباره ما</span></a></li>
                    <li><a href="/services"><i class="fa fa-angle-left"></i><span>خدمات</span></a></li>
                    <li><a href="/blog"><i class="fa fa-angle-left"></i><span>وبلاگ</span></a></li>
                    <li><a href="/contact"><i class="fa fa-angle-left"></i><span>تماس با ما</span></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 rtl-text">
                <h5>آخرین برنامه های کاربردی</h5>
                <ul class="footer-nav">
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>مدرسه رقص</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>پول تقلبی</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>مدیر ابر</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>رمزگذاری زندگی</span></a></li>
                    <li><a href="#"><i class="fa fa-angle-left"></i><span>دفتر هوشمند</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 rtl-text">
                <h5>تماس با ما</h5>
                <div class="address">
                    <p>قم صفاییه پاساژ طلا طبقه سوم پلاک ۲۸</p>
                    <p>تلفن: ۰۹۹۴۴۴۴۹۹۴۹</p>
                    <p><span>ایمیل:</span><a href="#">support@digicode.com</a></p>
                    <ul class="social">
                        <li><a href="https://github.com/digicode"><i class="fa fa-github-square"> گیت هاب</i></a></li>
                        <li><a href="https://eitaa.com/digicode"><i class="fa fa-facebook"> ایتا</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright rtl-text">© ۱۴۰۲ دیجی کد. کل حقوق محفوظ است.</p>
            </div>
        </div>
    </div>
</footer>