{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<body>
	<section class="page">
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 rtl-text">
							<h1>{{post.name}}</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb rtl-text">
								<li><a href="/">خانه</a></li>
								<li><a href="/blog">وبلاگ</a></li>
								<li class="active">{{post.name}}</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="page-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 rtl-text">
						{{post.content|safe}}
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->

		<div class="page-bottom pbottom-20">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 rtl-text">
						<a href="{% url 'post_detail' slug=post.slug %}">Comments: {{ post.comments.count }}</a>
						{% for comment in post.comments.all %}
							<div class="comment">
								<div class="date">{{ comment.created_date }}</div>
								<strong>{{ comment.author }}</strong>
								<p>{{ comment.text|linebreaks }}</p>
							</div>
						{% empty %}
							<p>هیچ کامنتی اینجا نیست<br>شما اضافه نمایید!</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
{% endblock %}